/express-sqlite/node_modules
/fingerprinting/node_modules
/python-django/01/myenv
/python-django/02/myenv
/python-django/01/src/newProject/newProject
/rust-server/01/target
/rust-server/01/Cargo.lock
/redis-nodejs/express-server/node_modules
/redis-nodejs/worker/node_modules
/open-api-spec/node_modules
/pentesting-server/backend/node_modules
/pentesting-server/attack/node_modules
/statefull-stateless/statemanagement/node_modules
/statefull-stateless/singleton-pubsub/node_modules
/web-server-express-typescript/node_modules
/node-sql/node_modules
/node-sql/env
/node-sql/dist
/webrtc/harkirat/webrtc-demo/backend/node_modules
/gRPC/JSON-RPC-SERVER/node_modules
/gRPC/grpc-protobuf/node_modules
/gRPC/grpc/node_modules
/python/flask-test/.venv
/python/flask-test/venv
/python/flask-test/.env
/python/flask-test/*.pyc
/python/flask-test/*.pyo
/python/flask-test/app/__pycache__
/python/fast-api/app/__pycache__
/python/fast-api/.venv
/python/fast-api/__pycache__
