/express-sqlite/node_modules
/fingerprinting/node_modules
/python-django/01/myenv
/python-django/02/myenv
/python-django/01/src/newProject/newProject
/rust-server/01/target
/rust-server/01/Cargo.lock
/redis-nodejs/express-server/node_modules
/redis-nodejs/worker/node_modules
/open-api-spec/node_modules
/pentesting-server/backend/node_modules
/pentesting-server/attack/node_modules
/statefull-stateless/statemanagement/node_modules
/statefull-stateless/singleton-pubsub/node_modules
